@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #182527;
    color: white;
}

.label-captura {
    display: flex;
    justify-content: center;
}

.dash-right .avisos {
    width: 100%;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.dash-right .avisos .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash-right .avisos .container .div-form {
    width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
    width: 95%;
}

.dash-right .avisos .div-form label {
    width: 95%;
    color: #20cd8d;
    font-weight: bold;
}

.dash-right .avisos .div-form input {
    width: 95%;
    border-radius: 50px;
    border: none;
    padding: 10px;
}

.dash-right .avisos .div-form textarea {
    width: 95%;
    border: 3px solid #20cd8d;
    background-color: #1e2d2f;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.dash-right .avisos .div-form button {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 15px;
    color: black;
    background-color: #20cd8d;
    width: 120px;
}

.publicacao-btn-editar {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    padding: 5px 8px;
    color: black;
    background-color: #20cd8d;
    width: 80px;
}

.publicacao {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-bottom: 3px solid #20cd8d;
    padding: 20px;
}

.div-results {
    width: 100%;
}

.div-results .feed-container {
    background-color: #1e2d2f;
    border-radius: 5px;
    margin-bottom: 80px;
}

.btns-dash {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    padding: 0 30% 0 30%;
}

.btn-chart {
    font-family: 'Nunito', sans-serif;
    border: none;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 15px;
    color: #182527;
    background-color: #20cd8d;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 3px solid white;
    background-color: #1e2d2f;
}

.dash-right {
    display: flex;
    width: 70%;
    background-color: #182527;
    position: relative;
    top: 0;
    left: 25%;
    height: 100vh;
    overflow: auto;
}

.btn-logout {
    width: 20%;
    background-color: #20cd8d;
    color: black;
    border-radius: 20px;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 100px;
    cursor: pointer;
}

a {
    color: #20cd8d;
    text-decoration: none;
    font-weight: bold;
}

.dash{
    height: 100vh;
    width: 80%;
    margin-left: 20%;
}