/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #182527;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
    border-bottom: 5px solid white;
}

.header .titulo {
    font-size: 2rem;
    font-weight: 700;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: #20cd8d;
    text-decoration: none;
    font-weight: bold;
}

/* SEÇÃO PRINCIPAL */
.container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.esquerda {
    width: 50%;
}

.esquerda h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #20cd8d;
}

.esquerda p {
    font-size: 1.5rem;
    line-height: 2rem;
}

.botao {
    display: inline-block;
    background-color: #20cd8d;
    color: black;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    margin-top: 1rem;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.botao:hover {
    box-shadow: 0 0 15px #20cd8d88, 0 0 25px #20cd8d55;
}

/* SEÇÃO BENEFÍCIOS */
.card {
    background-color: #1e2d2f;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    margin-top: 2rem;
}

.card h2 {
    color: #20cd8d;
    margin-bottom: 1rem;
}

.card ul {
    list-style: none;
    font-size: 1.2rem;
}

.card ul li {
    margin-bottom: 0.5rem;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #1e2d2f;
    margin-top: 2rem;
}

footer p {
    font-size: 1rem;
    color: white;
}

/* Seção Valores */
.valores {
    text-align: center;
    background-color: #1e2d2f;
    padding: 3rem;
    border-radius: 10px;
    margin-top: 2rem;
}

.valores h2 {
    color: #20cd8d;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.valor-item {
    margin-bottom: 1.5rem;
}

.valor-item h3 {
    color: #20cd8d;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.valor-item p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}


/* Seção Sobre o Autor */
.sobre-autor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    background-color: #1e2d2f;
    border-radius: 10px;
    margin-top: 2rem;
}

.texto {
    width: 60%;
}

.texto h2 {
    color: #20cd8d;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.texto p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.foto-autor {
    width: 35%;
    display: flex;
    justify-content: center;
}

.foto-autor img {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 15px #20cd8d55;
}
